*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/img/bg-mobile.svg);
    background-repeat: no-repeat;
    color: #fff;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{
    max-width: 375px;
    width: 100%;
}

.header{
    height: 90px;
    margin: 0 40px;
}

.header__logo{
    width: 120px;
}

.main{
    margin: 0 40px;
    text-align: center;
    height: auto;
}

.main__img{
    width: 100%;
}

.main__title{
    margin-top: 40px;
    font-size: 26px;
    line-height: 1.7;
    font-weight: bold;
}

.main__paragraph{
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

.main__boton{
    display: grid;
    place-content: center;
    width: 20rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1.3rem;
    box-shadow: 5px 5px 10px rgba(63, 60, 60, 0.5);
    color:hsl(257, 40%, 49%);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 25px 0;
}

.footer{
    height: 67px;
    display: grid;
    justify-content: center;
    align-items: flex-end;
}

.icon{
    height: 30px;
    display: flex;
}

.footer__circle{
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid #FFF;
    display: grid;
    place-content: center;
    margin: 0 1rem;
    border-radius: 50%;
    color: #fff;
}

.main__boton:hover{
    background-color:hsl(300, 69%, 71%);;
    color: #fff;
}

.footer__circle:hover{
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

/*=================================================*/
/*700px*/
@media screen and (min-width: 43.75em){ 
    html{
        background-image: url(/img/bg-desktop.svg);
        background-repeat: no-repeat;
    }
    body{
        flex-direction: row;
        justify-content: center;
    }
    .container{
        min-width: 1000px;
    }
    .header{
        max-height: 80px;
        margin: 0;
    }

    .header__logo{
        width: 190px;
    }

    .main{
        margin: 0;
        display: flex;
        text-align: left;
        max-height: 440px;
    }

    .bloque-a{
        padding: 20px;
        max-width: 500px;
    }

    .main__img{
        max-width: 500px;
    }

    .main__title{
        margin-top: 0;
        font-size: 32px;
    }

    .main__paragraph{
        font-size: 16px;
    }

    .footer{
        justify-content: flex-end;
        max-height: 60px;
    }

    .icon{
    }

    .main__boton{
        left: 100px;
        height: 5.6rem;
        border-radius: 2.8rem;
    }
}

/*1100px*/
@media screen and (min-width: 68.75em){
    .container{
        transform: scale(1.054);
    }
}

/* box-shadow: 5px 10px 20px rgba(128, 128, 128, 0.5); */
